.clients {
  padding-top: 150px;

  &__header {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__description {
    max-width: 436px;
    margin: 0;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    border-radius: 10px;
    background-color: #e5e5e5;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .clients {
    padding-top: 50px;

    &__header {
      margin-bottom: 15px;
    }

    &__title {
      margin: 0;
    }

    &__description {
      display: none;
    }

    &__card {
      // height: auto;
      min-height: 40px;
      border-radius: 5px;
      font-size: 0;
    }
  }
}
