.swiper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  .swiper-buttons {
    &-button-prev {
      margin-right: 34px;
    }
  }
}

@media (max-width: 768px) {
  .swiper-header {
    margin-bottom: 15px;

    .swiper-buttons {
      display: none;
    }
  }
}
