.breadcrumbs {
  padding: 50px 0;
  font-size: 14px;
  line-height: 14px;

  li {
    display: inline;

    & + li::before {
      color: #999999;
      // content: "/\00a0";
      content: "\\\00a0";
    }

    a {
      color: #999999;
      text-decoration: none;
    }
  }
}
