.card {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 10px 40px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

    .card {
      &__pagination {
        display: flex;
      }

      &__btns {
        display: flex;
      }
    }
  }

  &__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__bage {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    font-size: 0;
  }

  &__image {
    min-height: 40%;
    height: 100%;
    max-height: 220px;
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
  }

  &__swiper {
    .swiper-slide {
      display: flex;
      align-items: center;
      min-height: 210px;

      img {
        margin-bottom: 5px;
        width: 100%;
        border-radius: 10px;
      }
    }
  }

  &__pagination {
    display: none;

    justify-content: space-between;

    &.swiper-pagination {
      bottom: 0;
    }

    .swiper-pagination-bullet {
      position: relative;
      background-color: #828282;
      height: 2px;
      width: 30%;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 200px;
        width: 100%;
      }

      &-active {
        background-color: $color-yellow;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
  }

  &__model {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }

  &__country {
    margin-bottom: 20px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: #828282;
  }

  &__available {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: $color-green;
  }

  &__cost {
    margin-top: auto;
  }

  &__color {
    display: flex;
    flex-wrap: wrap;
    min-width: 215px;
    // display: grid;
    // grid-template-columns: repeat(6, 1fr);
    // gap: 7px;
    margin-bottom: 10px;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;
      height: 30px;
      width: 30px;
      border-radius: 5px;
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;

      &:not(:last-child) {
        margin-right: 5px;
      }

      &--1 {
        background-color: #404040;
      }
      &--2 {
        background-color: #828282;
      }
      &--3 {
        background-color: #d4d4d4;
      }
      &--4 {
        background-color: #828282;
      }
      &--5 {
        background-color: #c4c4c4;
      }
      &--6 {
        background-color: #e5e5e5;

        &.color-btn {
          position: relative;
          z-index: 1;
          cursor: pointer;

          &:hover {
            opacity: 0.5;
          }
        }
      }
      &--7 {
        background-color: #828282;
      }
      &--8 {
        background-color: #d4d4d4;
      }
      &--9 {
        background-color: #828282;
      }
      &--10 {
        background-color: #c4c4c4;
      }
      &--11 {
        background-color: #e5e5e5;
      }
    }
  }

  &__cost {
    margin-bottom: 10px;
  }

  &__price {
    display: flex;
    align-items: flex-end;

    &-current {
      margin-right: 5px;
      font-size: 20px;
      line-height: 20px;
      font-weight: 600;

      & + span {
        margin-right: 15px;
        font-size: 15px;
      }
    }

    &-old {
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: #828282;
      text-decoration: line-through;

      & + span {
        font-size: 12px;
        color: #828282;
      }
    }
  }

  &__summary {
    display: flex;
    align-items: flex-end;

    &-counter {
      position: relative;
      z-index: 1;
      width: 60%;
      margin-right: auto;
    }

    &-result {
      font-size: 13px;
      line-height: 13px;
      font-weight: 600;

      & + span {
        font-size: 13px;
        line-height: 13px;
        font-weight: 600;
      }
    }
  }

  &__btns {
    position: absolute;
    right: 10px;
    bottom: 10px;
    left: 10px;
    display: none;
  }
}

@media (max-width: 768px) {
  .card {
    padding: 10px 9px 40px;

    &__bage {
      svg {
        height: 20px;
        width: 20px;
      }
    }

    &__swiper {
      .swiper-slide {
        min-height: 120px;
      }
    }

    &__description {
      font-size: 8px;
      line-height: 9px;
    }

    &__model {
      font-size: 10px;
      line-height: 12px;
    }

    &__available {
      font-size: 8px;
      line-height: 9px;
    }

    &__price {
      &-current {
        margin: 0;
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;

        & + span {
          margin-right: 0px;
          font-size: 10px;
          line-height: 12px;
          font-weight: 500;
        }
      }

      &-old {
        font-size: 10px;
        line-height: 12px;

        & + span {
          font-size: 6px;
          line-height: 7px;
        }
      }
    }

    &__color {
      &-item {
        height: 20px;
        width: 20px;
        font-size: 10px;
      }
    }

    &__btns {
      button {
        svg {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
