.card-order {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 40px;
  border-radius: 5px;
  background-color: #e5e5e5;

  .cost {
    margin-bottom: 15px;
  }

  &__bage {
    position: absolute;
    top: 25px;
    right: 40px;
    font-size: 0;
  }

  &__available {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    color: $color-green;
    text-decoration: underline;
  }

  &__form {
    display: flex;
    border-radius: 5px;
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &-input {
      width: 50%;
      border: 1px solid transparent;
      padding: 0 20px;
      font-size: 10px;
      line-height: 28px;
      color: #828282;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.5;
      }

      &:last-child {
        color: $color-white;
        background-color: #828282;
        cursor: pointer;
      }
    }
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__services {
    &-title {
      margin-bottom: 10px;
      font-size: 10px;
      line-height: 12px;
      font-weight: 600;
    }

    &-list {
      margin-bottom: 5px;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      font-size: 10px;
      line-height: 12px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &-delivery-cost {
      font-size: 10px;
      line-height: 12px;
      text-decoration: underline;
    }
  }

  &__policy {
    font-size: 12px;
    line-height: 14px;
    color: #828282;
  }
}

@media (max-width: 768px) {
  .card-order {
    padding: 20px 15px;

    &__bage {
      top: 20px;
      right: 15px;
    }

    .cost {
      &__price {
        font-size: 16px;

        &-title {
          font-size: 12px;
          line-height: 14px;
        }

        &-square {
          font-size: 20px;
          line-height: 23px;
        }
      }

      &__credit {
        font-size: 10px;
        line-height: 12px;
      }

      &__parameter {
        font-size: 10px;
        line-height: 12px;
      }
    }

    &__btns {
      margin: 0;
    }

    &__form {
      &:last-child {
        display: none;
      }
    }

    &__policy {
      font-size: 10px;
      line-height: 12px;
    }
  }
}
