.card.card-horizontal {
  flex-direction: row;
  padding: 10px;

  .card {
    &__bage {
      button:first-child {
        display: inline-block;
      }
    }

    &__image {
      max-width: 150px;
      margin: 0;
      margin-right: 15px;
    }

    &__swiper {
      .swiper-slide {
        min-height: 150px;
      }
    }

    &__content {
      padding: 5px 0;
      margin: 0;

      & > div {
        &:first-child {
          display: flex;
          flex-direction: column-reverse;
        }
      }
    }

    &__model {
      margin-bottom: 15px;
    }

    &__description {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 15px;
      font-size: 10px;
      line-height: 12px;

      // span {
      //   &:not(:first-child) {
      //     margin-bottom: 8px;
      //   }
      // }
    }

    &__article {
      margin-bottom: 8px;
    }

    &__color {
      display: flex;
      margin-top: auto;

      &-item {
        width: 30px;
      }
    }

    &__available {
      margin-top: auto;
    }

    &__cost {
      position: absolute;
      bottom: 50px;
      right: 10px;
      display: flex;
      justify-content: space-between;
      margin: 0;

      & > div {
        &:last-child {
          display: flex;
        }
      }
    }

    &__price {
      &-current {
        margin: 0;
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;

        & + span {
          font-size: 20px;
          line-height: 24px;
          font-weight: 500;
        }
      }

      &-old {
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;

        & + span {
          font-size: 12px;
          line-height: 16px;
          font-weight: 500;
        }
      }
    }

    &__summary {
      flex-direction: column-reverse;
      align-items: flex-start;
      max-width: max-content;

      div {
        &:first-child {
          span {
            font-size: 10px;
            line-height: 12px;
            color: #828282;
          }
        }
      }

      &-counter {
        width: 100%;
        max-width: 114px;
        margin: 0;
        margin-bottom: 8px;

        & + div {
          margin-bottom: 10px;
        }
      }
    }

    &__btns {
      left: auto;
      font-size: 0;
      width: 23%;
    }
  }

  .choices {
    width: 135px;

    &[data-type*="select-one"] {
      .choices__inner {
        padding: 0;
        padding-right: 15px;
      }
    }

    &__inner {
      min-height: auto;
      padding-left: 0;
      border: 1px solid transparent;
      font-size: 10px;
      line-height: 12px;
      font-weight: 500;
      background-color: $color-white;
    }

    &__list {
      &--single {
        padding-left: 0;
        padding-right: 0;
      }

      .choices__item {
        padding-right: 5px;
        font-size: 10px;
        line-height: 18px;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 768px) {
  .card.card-horizontal {
    flex-direction: row-reverse;
    padding: 10px 10px 50px;

    .card {
      &__image {
        margin: 0;
      }

      &__content {
        padding: 0;
      }

      &__cost {
        position: static;
      }

      &__price {
        &-current {
          font-size: 14px;
          line-height: 16px;
          font-weight: 500;

          & + span {
            font-size: 10px;
            line-height: 12px;
          }
        }

        &-old {
          font-size: 10px;
          line-height: 12px;

          & + span {
            font-size: 6px;
            line-height: 7px;
          }
        }
      }

      &__btns {
        width: calc(100% - 20px);
      }
    }
  }
}
