.counter {
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 0;
  line-height: 12px;
  background-color: #e5e5e5;
  overflow: hidden;

  input {
    width: 30%;
    padding: 0 5px;
    border: 1px solid transparent;
    border: none;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    color: $color-white;
    background-color: #828282;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.5;
    }

    &:nth-child(2) {
      width: 40%;
      color: $color-black;
      background-color: transparent;
      cursor: default;
    }
  }
}
