.features {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px;
  border-radius: 5px;
  background-color: #f1f1f1;

  &__item {
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;

    span {
      display: inline-block;
      max-width: 170px;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 14px;
    }

    a {
      font-size: 12px;
      line-height: 14px;
      color: $color-blue;
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .features {
    flex-direction: column;
    padding: 20px 15px;

    &__item {
      svg {
        height: 35px;
        width: 35px;
      }
    }

    &__content {
      span {
        max-width: none;
        font-size: 10px;
        line-height: 12px;
      }
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
