.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11px;
  width: 20px;
  margin-right: 10px;
  border: 1px solid $color-black;
  border-radius: 10px;

  &--active {
    background-color: $color-yellow;
  }

  // &:has(#switch-on:checked) {
  //   background-color: $color-yellow;
  // }

  .label {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    cursor: pointer;

    &--active {
      background-color: $color-black;
      cursor: auto;
    }

    // &:has(input:checked) {
    //   background-color: $color-black;
    //   cursor: auto;
    // }
  }

  input[type="radio"] {
    display: none;
  }
}
