.tooltip {
  display: inline;
  padding: 0 4px 0 4px;
  border-radius: 50%;
  text-align: center;
  font-size: 8px;
  line-height: 8px;
  background-color: #828282;
  color: $color-white;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

.tippy {
  &-arrow {
    color: $color-yellow;
  }
  &-box {
    border-radius: 10px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    color: $color-black;
    background-color: $color-yellow;
  }
}
