.account {
  &__title {
    margin-bottom: 40px;
  }

  &__window {
    max-width: 460px;
    padding: 20px 30px;
    margin: 0 auto;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  }
}

.account-window {
  position: relative;

  &__header {
    margin-bottom: 20px;
  }

  &__btn {
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;

    &--active {
      background-color: $color-yellow;
    }

    &:first-child {
      margin-right: 26px;
    }
  }
}

.account-form {
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
  }

  &__label {
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    &:last-of-type {
      margin-bottom: 20px;
    }

    &.account-form__label--access {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 10px;
        height: 8px;
        width: 13px;
        border-bottom: 3px solid $color-green;
        border-left: 3px solid $color-green;
        transform: rotate(-45deg) translateY(-50%);
      }
    }

    &--warning {
      input {
        border-color: $color-red;
      }
    }
  }

  &__input {
    height: 30px;
    width: 100%;
    padding: 0 15px;
    border: 1px solid #828282;
    border-radius: 15px;
    font-size: 10px;
    line-height: 30px;
    font-weight: 500;
    color: #828282;
  }

  &__description {
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: #828282;
    text-align: center;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    padding: 10px 60px;
    border-radius: 5px;
    background-color: #e5e5e5;
    cursor: not-allowed;

    &:nth-of-type(2) {
      position: absolute;
      right: 30px;
      bottom: 30px;
      padding: 0;
      color: #7a7a7a;
      text-decoration: underline;
      background-color: transparent;
      cursor: pointer;
    }

    &--active {
      background-color: $color-yellow;
      cursor: pointer;
    }
  }
}
