.brands-page {
  &__breadcrumbs {
    color: $color-black;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__filters {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__menu {
    display: inline-flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }

    .switch-button {
      font-weight: 500;

      &--active {
        text-decoration: underline;
      }
    }
  }

  &__link {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: $color-black;
  }

  & .choices {
    height: 20px;
    width: 10%;
    margin: 0;
    margin-left: auto;
    margin-right: 100px;

    &__inner {
      min-height: 20px;
      padding: 0;
      padding-right: 10px;
      border: 1px solid transparent;
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;
      background-color: $color-white;
    }

    &__list--dropdown {
      z-index: 2;
      width: max-content;
      .choices__item--selectable {
        padding-right: 10px;
      }
    }
  }

  &__search {
    width: 20%;
  }
}
