.cart {
  &__title {
    margin-bottom: 40px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 30px;

    li {
      &:not(:last-child) {
        margin-right: 10px;
      }

      button {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 14px;
      }

      svg {
        margin-right: 10px;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
  }

  &__preview {
    width: 57%;
  }

  &__list {
    margin-bottom: 40px;

    &-card {
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
  }

  &__additionaly {
    min-height: 70px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }

  &__buy {
    width: 42%;
    max-width: 400px;
  }
}

.cart-buy {
  height: max-content;
  padding: 40px 40px 30px;
  border-radius: 10px;
  background-color: #e5e5e5;

  &__total {
    display: flex;
    justify-content: space-between;
    /////
    align-items: flex-end;
    /////
    margin-bottom: 20px;

    span {
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;

      &:last-child {
        font-size: 32px;
        line-height: 32px;
        font-weight: 600;
      }
    }
  }

  &__conditions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    a {
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      color: #7a7a7a;
      text-decoration: underline;
    }
  }

  &__credit-descr {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
  }

  &__promo {
    margin-bottom: 20px;

    form {
      display: flex;
      border-radius: 5px;
      overflow: hidden;
    }

    input {
      height: 30px;
      width: 50%;
      border: 1px solid transparent;
      font-size: 10px;
      line-height: 12px;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.5;
      }

      &:first-child {
        padding: 0 20px;
        font-weight: 400;
        color: #828282;
      }

      &:last-child {
        font-weight: 500;
        color: $color-white;
        background-color: #828282;
        cursor: pointer;
      }
    }
  }

  &__info {
    margin-bottom: 20px;
    div {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__btn {
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    background-color: $color-yellow;
  }

  &__no-register {
    form {
      display: flex;
      border-radius: 5px;
      overflow: hidden;
    }

    input {
      height: 30px;
      width: 50%;
      border: 1px solid transparent;
      font-size: 10px;
      line-height: 12px;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.5;
      }

      &:first-child {
        padding: 0 20px;
        font-weight: 400;
        color: #828282;
      }

      &:last-child {
        font-weight: 500;
        color: $color-white;
        background-color: #828282;
        cursor: pointer;
      }
    }
  }
}

// .cart {
//   .card {
//     flex-direction: row;
//     justify-content: flex-start;

//     &__image {
//       margin: 0;
//       margin-right: 30px;
//       font-size: 0;

//       img {
//         height: 100%;
//         max-width: 150px;
//       }
//     }

//     &__description {
//       flex-direction: column;
//       align-items: flex-start;
//       width: 100%;
//       margin: 0;
//     }

//     &__country {
//       margin: 0;
//     }

//     &__cost {
//       display: flex;
//       justify-content: space-between;
//       align-items: flex-end;
//       width: 100%;
//       margin: 0;
//     }

//     &__price {
//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;
//       justify-content: space-between;
//       height: 100%;
//       padding-top: 20px;
//       margin: 0;

//       &-current {
//         font-size: 16px;
//         line-height: 19px;
//         font-weight: 600;
//       }
//     }

//     &__summary {
//       flex-direction: column-reverse;
//       align-items: flex-start;

//       &-square {
//         padding-top: 10px;
//         padding-left: 10px;
//         font-size: 10px;
//         line-height: 12px;
//         color: #828282;
//       }

//       &-counter {
//         margin: 0;
//         width: 100%;
//         max-width: 114px;

//         & + div {
//           margin-bottom: 10px;
//         }
//       }

//       &-result {
//         font-size: 24px;
//         line-height: 28px;
//         font-weight: 600;

//         & + span {
//           font-size: 20px;
//           line-height: 24px;
//           font-weight: 400;
//         }
//       }
//     }

//     .choices {
//       width: 135px;

//       &[data-type*="select-one"] {
//         .choices__inner {
//           padding: 0;
//           padding-right: 15px;
//         }
//       }

//       &__inner {
//         min-height: auto;
//         padding-left: 0;
//         border: 1px solid transparent;
//         font-size: 10px;
//         line-height: 12px;
//         font-weight: 500;
//         background-color: $color-white;
//       }

//       &__list {
//         &--single {
//           padding-left: 0;
//           padding-right: 0;
//         }

//         .choices__item {
//           padding-right: 5px;
//           font-size: 10px;
//           line-height: 18px;
//           font-weight: 500;
//         }
//       }
//     }
//   }
// }
