.catalog-tiles {
  &-swiper {
    margin-bottom: 80px;

    &__slide {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;
      border-radius: 10px;
      overflow: hidden;

      &-image {
        img {
          min-height: 170px;
          border-radius: 10px;
        }
      }

      &-description {
        flex-grow: 1;
        padding: 10px;
        font-size: 20px;
        line-height: 19px;
      }
    }
  }

  &__categories {
    margin-bottom: 120px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__filters-vertical {
    max-width: 16%;
    margin-right: 10px;
  }

  &__info {
    width: 79%;
  }

  &__filters-horizontal {
    margin-bottom: 40px;
  }
}

.filters-vertical {
  & .ac {
    margin: 0;
    border: 1px solid transparent;

    &-trigger {
      padding: 19px 30px 19px 0;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
    }

    .accordion-container {
      padding: 0;
    }

    .ac-sub {
      &-trigger {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
      }

      &-text {
        padding: 0;
      }
    }
  }
}

.filters-horizontal {
  &__item {
    &:not(:last-child) {
      margin-bottom: 22px;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
    }

    &-title {
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;
      color: #757575;
    }

    &-all {
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;
      color: #757575;
      text-decoration: underline;
    }

    &-body {
      &.view-all {
        flex-wrap: wrap;
      }

      &__btn {
        padding: 7px 12px;
        border-radius: 5px;
        font-size: 12px;
        line-height: 14px;
        background-color: #e5e5e5;
      }
    }

    &__btn {
      padding: 7px 12px;
      margin-bottom: 10px;
      border-radius: 5px;
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      background-color: #e5e5e5;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    .swiper {
      &-slide {
        width: auto;
        margin-bottom: 10px;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}

.catalog-tiles-list {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }

  &__choice {
    &-btn {
      font-size: 20px;
      line-height: 23px;
      color: #757575;

      &:not(:last-child) {
        margin-right: 50px;
      }
    }

    .tab-btn--active {
      font-weight: 600;
      color: $color-black;
      text-decoration: underline;
    }
  }

  &__filters-btn {
    display: none;
  }

  .tab {
    &-content {
      display: none;

      &.catalog-tiles-list {
        display: block;
      }

      &--active {
        display: block;
      }
    }
  }

  &__sort {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }

  .choices {
    min-width: 165px;

    &[data-type*="select-one"] {
      & .choices__inner {
        padding: 0;
        padding-left: 30px;
        padding-right: 15px;
      }
    }

    &__inner {
      min-height: auto;
      border: 1px solid transparent;
      background-color: $color-white;
    }

    &__list {
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;

      &--dropdown {
        z-index: 2;
        left: 30px;

        .choices__item {
          padding-right: 0;
        }
      }
    }
  }

  &__position {
    button {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  .catalog-tiles-list-swiper {
    padding: 5px;

    &__wrapper {
      margin-bottom: 20px;
    }

    &__btn-more {
      display: block;
      width: calc(100% - 10px);
      padding: 10px;
      margin: 0 auto;
      margin-bottom: 30px;
      border-radius: 5px;
      font-size: 10px;
      line-height: 12px;
      font-weight: 500;
      background-color: #bebebe;
    }

    &__footer {
      position: relative;
      height: 30px;
      max-height: max-content;
      max-width: 250px;
      margin: 0 auto;
      margin-bottom: 50px;
    }

    &__button {
      color: $color-black;

      &::after {
        font-size: 20px;
      }
    }

    &__pagination {
      top: 0;
      height: 30px;

      .swiper-pagination-bullet {
        width: 30px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;
        border-radius: 10px;
        background-color: #fff;

        font-size: 25px;
        opacity: 1;

        &-active-main {
          background-color: $color-yellow;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .catalog-tiles {
    &-swiper {
      display: none;
    }

    &__info {
      width: 100%;
    }

    &__filters-vertical {
      display: none;
    }

    .filters-horizontal {
      &__item {
        &:not(:first-child) {
          display: none;
        }

        &-all {
          display: none;
        }

        &-body {
          flex-wrap: nowrap;
        }

        .swiper {
          &-slide {
            width: auto;
            margin-bottom: 0;

            &:not(:last-child) {
              margin-right: 0;
            }
          }
        }
      }
    }

    .catalog-tiles-list {
      &__header {
        position: relative;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 15px;
      }

      &__choice {
        &-btn {
          padding: 10px 15px;
          border: 1px solid transparent;
          border-radius: 30px;
          font-size: 12px;
          line-height: 14px;
          font-weight: 500;
          color: $color-black;

          &:not(:last-child) {
            margin-right: 20px;
          }
        }

        .tab-btn--active {
          border: 1px solid $color-yellow;
          text-decoration: none;
          background-color: $color-yellow;
        }
      }

      &__filters-btn {
        position: absolute;
        top: 0;
        left: 50%;
        display: flex;
        font-size: 10px;
        line-height: 24px;
        font-weight: 500;
      }

      &__sort {
        margin-bottom: 20px;
      }

      .choices {
        min-width: max-content;

        &[data-type*="select-one"] {
          & .choices__inner {
            padding-left: 0;
          }
        }

        &__placeholder {
          opacity: 1;
        }

        &__list {
          padding-left: 0;
          font-size: 10px;
          line-height: 12px;

          &--dropdown {
            left: 0;

            .choices__item {
              font-size: 10px;
            }
          }
        }
      }

      &__position {
        position: absolute;
        top: 5px;
        right: 0;
      }
    }
  }
}
