.collection {
  &__title {
    margin-bottom: 40px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;

    &-preview {
      width: calc((100% - 40px) / 5 * 3);

      .product__swiper-preview {
        height: 80%;

        .swiper-slide {
          display: flex;
          // background-color: #828282;

          img {
            margin: auto 0;
          }
        }
      }
      .product__swiper-add {
        height: 20%;

        .swiper-slide {
          margin-top: auto;
          box-sizing: border-box;
          font-size: 0;
          height: max-content;
          border: 3px solid transparent;
          border-radius: 5px;

          &-thumb-active {
            border: 3px solid $color-yellow;
          }
        }
      }
    }

    &-description {
      width: calc((100% - 40px) / 5 * 2);
    }

    &-buy {
      margin-bottom: 30px;

      .cost {
        &__price {
          &-current {
            font-size: 30px;
            line-height: 25px;
            font-weight: 600;
          }
        }
      }
    }
  }

  .tab {
    &-btn {
      &--active {
        background-color: $color-yellow;
      }
    }

    &-content {
      display: none;

      &--active {
        display: block;
      }
    }
  }

  &__products {
    margin-bottom: 100px;

    &-title {
      margin: 0;
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;
    }

    &-header {
      margin-bottom: 40px;

      &__btn {
        padding: 10px 20px;
        border-radius: 45px;
        font-size: 12px;
        line-height: 14px;

        &:not(:last-child) {
          margin-right: 40px;
        }
      }
    }

    &-swiper {
      padding: 5px 10px;

      &__btn {
        display: none;
      }
    }

    &-list {
      // display: grid;
      // grid-template-columns: repeat(5, 19%);
      // gap: 1.5%;

      display: flex;
      flex-wrap: wrap;
    }

    &-card {
      width: calc(100% / 5 - 16px);

      &:not(:nth-child(5n - 5)) {
        margin-right: 20px;
      }

      // .card__image {
      //   max-height: max-content;
      // }
    }
  }

  &__description {
    margin-bottom: 60px;

    &-title {
      margin: 0;
      margin-bottom: 30px;
      font-size: 30px;
      line-height: 35px;
      font-weight: 500;
    }

    &-list {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__features {
    margin-bottom: 70px;
  }

  &__others {
    margin-bottom: 100px;

    &-title {
      margin: 0;
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;
      margin-bottom: 40px;
    }

    &-list {
      // display: grid;
      // grid-template-columns: repeat(5, 19%);
      // gap: 1.5%;

      display: flex;
    }

    &-card {
      width: calc(100% / 5 - 16px);

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &-swiper {
      &__btn {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .collection {
    &__title {
      margin-bottom: 15px;
    }

    &__info {
      flex-direction: column;
      margin-bottom: 50px;

      &-preview {
        width: auto;
        margin-bottom: 30px;
      }

      ///
      .product__swiper-preview {
        padding: 5px 3px;

        .swiper {
          &-wrapper {
            margin-bottom: 10px;
          }

          &-slide {
            height: 300px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

            img {
              width: calc(100% - 20px);
              padding: 10px;
            }
          }

          &-pagination {
            &-bullet {
              height: 2px;
              width: 20%;
              border-radius: 0;
              background-color: #d9d9d9;
              opacity: 1;

              &-active {
                background-color: $color-yellow;
              }

              &s {
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }
      }

      ///
      .product__swiper-add {
        display: none;
      }

      &-description {
        width: auto;
      }

      &-buy {
        margin-bottom: 40px;

        .cost {
          &__price {
            &-current {
              font-size: 20px;
              line-height: 23px;
            }
          }
        }
      }
    }

    &__products {
      margin-bottom: 40px;

      &-title {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 19px;
      }

      &-header {
        margin-bottom: 15px;

        &__btn {
          padding: 5px 15px;
        }
      }

      &-swiper {
        padding: 5px 10px;

        &__btn {
          display: flex;
          width: max-content;

          &::after {
            content: "";
          }

          &--prev {
            left: 0;
          }

          &--next {
            right: 0;
          }
        }
      }

      &-card {
        width: calc(100% / 2 - 5px);
        margin-bottom: 15px;

        &:not(:nth-child(5n + 5)) {
          margin-right: 0;
        }

        &:not(:nth-child(2n + 2)) {
          margin-right: 10px;
        }
      }
    }

    &__description {
      margin-bottom: 50px;

      &-title {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 19px;
      }

      &-list {
        font-size: 12px;
        line-height: 16px;
      }
    }

    &__features {
      margin-bottom: 50px;
    }

    &__others {
      margin-bottom: 50px;

      &-title {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 19px;
      }

      &-swiper {
        padding: 5px 10px;

        &__btn {
          display: flex;
          width: max-content;

          &::after {
            content: "";
          }

          &--prev {
            left: 0;
          }

          &--next {
            right: 0;
          }
        }
      }
    }
  }
}
