.compare {
  &__container {
    padding-bottom: 150px;
  }
  &__title {
    margin-bottom: 40px;
  }

  &__lists {
    display: flex;
    margin-bottom: 30px;

    div {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }

    &-btn {
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
    }

    .switch-button--active {
      text-decoration: underline;
    }
  }

  &__header {
    justify-content: end;
  }

  &__products {
    display: flex;
    margin-bottom: 30px;
  }

  &__conditions {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-top: 10px;

    label {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__card-swiper {
    width: 80%;
    padding: 10px;
    margin-right: 0;
  }

  .card {
    &__btns {
      display: flex;
    }
  }

  &__description {
    display: flex;
  }

  &__parameters {
    max-width: 150px;
  }

  &__descr-swiper {
    width: 80%;
    padding: 0 10px;
    margin-right: 0;
  }

  .descr-swiper__card {
    box-sizing: border-box;
    padding: 0 10px;
  }
}

.parameters {
  &__item {
    position: relative;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #828282;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--black {
      color: $color-black;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &.is-hover {
      overflow: visible;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        z-index: -1;
        width: 248px;
        height: 100%;
        background-color: #dfdddd;
        opacity: 0.5;
      }
    }
  }
}
