.favorite {
  &__title {
    margin-bottom: 40px;
  }

  .tab {
    &-btn {
      &--active {
        text-decoration: underline;
      }
    }

    &-content {
      display: none;

      &--active {
        display: block;
      }
    }
  }
}

.favorite-filters {
  margin-bottom: 30px;

  &__btn {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }

  &__delete {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.favorite-added {
  margin-bottom: 90px;

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 19%);
    gap: 1.5%;
  }
}

.favorite-viewed {
  margin-bottom: 90px;

  &__title {
    margin-bottom: 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 19%);
    gap: 1.5%;
  }
}

@media (max-width: 768px) {
  .favorite-filters {
    &__btn {
      font-size: 12px;
      line-height: 14px;
      font-weight: 600;
    }

    &__delete {
      &:not(:last-child) {
        margin-right: 20px;
      }

      svg {
        height: 10px;
        width: 10px;
      }
    }
  }

  .favorite-added {
    margin-bottom: 40px;

    &__list {
      // grid-template-columns: repeat(2, 50%);
      grid-template-columns: repeat(2, calc(50% - 0.75%));
    }
  }

  .favorite-viewed {
    margin-bottom: 40px;

    &__list {
      grid-template-columns: repeat(2, 50%);
    }
  }
}
