.offer {
  &__title {
    margin-bottom: 40px;
  }

  &__description {
    margin: 0;
    margin-bottom: 70px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
  }

  &__conditions {
    margin-bottom: 70px;

    & .ac {
      border: 1px solid transparent;

      &-trigger {
        max-width: max-content;
        padding-left: 0;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
      }

      &-panel {
        li {
          font-size: 12px;
          line-height: 14px;
          font-weight: 400;

          &:not(:last-child) {
            margin-bottom: 10px;
          }

          b {
            font-weight: 600;
          }

          span:first-child {
            display: inline-block;
            width: 20%;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .offer {
    &__title {
      margin-bottom: 20px;
    }

    &__description {
      margin-bottom: 30px;
    }

    &__conditions {
      padding-left: 15px;
      margin: 0;
      margin-bottom: 50px;

      .ac {
        &-panel {
          .ac-text {
            padding: 5px 0;
          }
        }
      }
    }
  }
}
