.product {
  &__title {
    margin-bottom: 20px;

    &-description {
      font-size: 12px;
      line-height: 14px;
      color: #828282;

      &:not(:last-of-type) {
        margin-right: 30px;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 150px;

    &-preview {
      width: calc((100% - 100px) / 3);
    }

    .product__swiper-preview {
      height: 80%;

      .swiper-slide {
        display: flex;

        img {
          margin: auto 0;
        }
      }
    }
    .product__swiper-add {
      height: 20%;

      .swiper-slide {
        margin-top: auto;
        box-sizing: border-box;
        font-size: 0;
        height: max-content;
        border: 3px solid transparent;
        border-radius: 5px;

        &-thumb-active {
          border: 3px solid $color-yellow;
        }
      }
    }

    &-specifications {
      width: calc((100% - 100px) / 3);
    }

    &-buy {
      width: calc((100% - 100px) / 3);
    }
  }

  &__profitable {
    margin-bottom: 100px;
  }

  &__others {
    margin-bottom: 100px;

    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    &-title {
      margin: 0;
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;

      a {
        text-decoration: underline;
      }
    }

    &-link {
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      color: #7a7a7a;
      text-decoration: underline;
    }

    &-swiper {
      padding: 5px 10px;

      &__btn {
        display: none;
      }
    }

    &-list {
      // display: grid;
      // grid-template-columns: repeat(5, 19%);
      // gap: 1.5%;
      display: flex;

      &__card {
        width: calc(100% / 5 - 16px);

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }

  &__specifications {
    margin-bottom: 60px;

    &-title {
      margin: 0;
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
    }

    &-list {
      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &__title {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
      }
    }

    &-sublist {
      font-size: 12px;
      line-height: 14px;

      &__item {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }

      &__name {
        display: inline-block;
        width: 15%;
        color: #3f3f3f;
      }
    }

    &-btn {
      font-size: 12px;
      line-height: 15px;
      font-weight: 600;
      color: #ffd413;
    }
  }

  &__similar {
    margin-bottom: 70px;

    &-title {
      margin: 0;
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;
    }

    &-swiper {
      padding: 5px 10px;

      &__btn {
        display: none;
      }
    }

    &-list {
      // display: grid;
      // grid-template-columns: repeat(5, 19%);
      // gap: 1.5%;
      display: flex;

      &__card {
        width: calc(100% / 5 - 16px);

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }

  &__features {
    margin-bottom: 90px;
  }
}

@media (max-width: 768px) {
  .product {
    &__title {
      &-description {
        font-size: 10px;
        line-height: 12px;
      }
    }

    &__info {
      flex-direction: column;
      margin-bottom: 50px;

      &-preview {
        width: auto;
        margin-bottom: 15px;
      }
      &-specifications {
        width: auto;
        margin-bottom: 15px;
      }
      &-buy {
        width: auto;
        margin-bottom: 15px;
      }
    }

    &__profitable {
      margin-bottom: 40px;
    }

    &__others {
      margin-bottom: 50px;

      &-header {
        margin-bottom: 20px;
      }

      &-title {
        font-size: 16px;
        line-height: 19px;
      }

      &-link {
        display: none;
      }

      &-swiper {
        padding: 5px 10px;

        &__btn {
          display: flex;
          width: max-content;

          &::after {
            content: "";
          }

          &--prev {
            left: 0;
          }

          &--next {
            right: 0;
          }
        }
      }
    }

    &__specifications {
      margin-bottom: 50px;

      &-title {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 19px;
      }

      &-list {
        &:not(:last-child) {
          margin-bottom: 20px;
        }

        &__title {
          font-size: 12px;
          line-height: 14px;
        }
      }

      &-sublist {
        font-size: 10px;
        line-height: 12px;

        &__item {
          display: flex;
          justify-content: space-between;
        }

        &__name {
          width: max-content;
        }

        &__value {
          width: max-content;
        }
      }
    }

    &__similar {
      margin-bottom: 50px;

      &-title {
        font-size: 16px;
        line-height: 19px;
      }

      &-swiper {
        padding: 5px 10px;

        &__btn {
          display: flex;
          width: max-content;

          &::after {
            content: "";
          }

          &--prev {
            left: 0;
          }

          &--next {
            right: 0;
          }
        }
      }
    }

    &__features {
      margin-bottom: 50px;
    }
  }
}
